body {
    margin-left: min(200px, 30%);
    margin-right: min(200px, 30%);
    font-family: 'Lato';
}

button {
    background-color: slategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 37px;
    z-index: 99;
}

img {
    padding-top: 1em;
    max-width: 100%;
}

.tab-menu {
    background-color: darkgray;
    user-select: none;
}

.tab-item {
    margin: 3px 5px 3px 5px;
}

*, ::before, ::after {
    box-sizing: inherit;
}